@model IEnumerable<DbCourse.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by sum: from: <input type="text" name="sumFrom" value="@ViewData["sumFrom"]" />
            to: <input type="text" name="sumTo" value="@ViewData["sumTo"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </p>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Months)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Months)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
